tfs-adapter/src/main/resources/xsd/tfs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xsd:annotation>
        <xsd:documentation>Сообщения</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="SendFileInfoNf" type="SendFileInfoNf_Type">
        <xsd:annotation>
            <xsd:documentation>Информация о файле</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="SendConfigNf" type="SendConfigNf_Type">
        <xsd:annotation>
            <xsd:documentation>Конфигурационные данные</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="SendFileStatusNf" type="SendFileStatusNf_Type">
        <xsd:annotation>
            <xsd:documentation>Статус файла</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="SendErrorNf" type="SendErrorNf_Type">
        <xsd:annotation>
            <xsd:documentation>Ошибка</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ReSendFileNf" type="ReSendFileNf_Type">
        <xsd:annotation>
            <xsd:documentation>Повторная передача файла</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DeleteFileNf" type="DeleteFileNf_Type">
        <xsd:annotation>
            <xsd:documentation>Удаление файла</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="SendLogNf" type="SendLogNf_Type">
        <xsd:annotation>
            <xsd:documentation>Логи</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="GetTransferInfoRq" type="GetTransferInfoRq_Type">
        <xsd:annotation>
            <xsd:documentation>Запрос информации</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="GetTransferInfoRs" type="GetTransferInfoRs_Type">
        <xsd:annotation>
            <xsd:documentation>Ответ с информацией</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:annotation>
        <xsd:documentation>Комплексные типы данных</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType name="SendConfigNf_Type">
        <xsd:annotation>
            <xsd:documentation>Конфигурационные данные</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="BasicRq_Type">
                <xsd:sequence>
                    <xsd:element name="Destination" type="Destination_Type">
                        <xsd:annotation>
                            <xsd:documentation>Получатель сообщения</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ConfigData">
                        <xsd:annotation>
                            <xsd:documentation>Конфигурационные данные маршрута</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="NC"/>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="SendFileInfoNf_Type">
        <xsd:annotation>
            <xsd:documentation>Информация о файле</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="BasicRq_Type">
                <xsd:sequence>
                    <xsd:element name="Destination" type="Destination_Type">
                        <xsd:annotation>
                            <xsd:documentation>Получатель сообщения</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="File" type="File_Type" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>Файлы</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="SendFileStatusNf_Type">
        <xsd:annotation>
            <xsd:documentation>Статус файла</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="BasicRq_Type">
                <xsd:sequence>
                    <xsd:element name="Destination" type="Destination_Type">
                        <xsd:annotation>
                            <xsd:documentation>Получатель сообщения</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="FileStatus" type="FileStatus_Type" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>Статус файла</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="SendErrorNf_Type">
        <xsd:annotation>
            <xsd:documentation>Ошибка</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="BasicRq_Type">
                <xsd:sequence>
                    <xsd:element name="Destination" type="Destination_Type">
                        <xsd:annotation>
                            <xsd:documentation>Получатель сообщения</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="FileStatus" type="FileStatus_Type" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>Статус файла</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ReSendFileNf_Type">
        <xsd:annotation>
            <xsd:documentation>Повторная передача файла</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="BasicRq_Type">
                <xsd:sequence>
                    <xsd:element name="Destination" type="Destination_Type">
                        <xsd:annotation>
                            <xsd:documentation>Получатель сообщения</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="FileStatus" type="FileStatus_Type" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>Файл с ошибкой</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="DeleteFileNf_Type">
        <xsd:annotation>
            <xsd:documentation>Удаление файла</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="BasicRq_Type">
                <xsd:sequence>
                    <xsd:element name="Destination" type="Destination_Type">
                        <xsd:annotation>
                            <xsd:documentation>Получатель сообщения</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="File" type="File_Type" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>Файлы</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="SendLogNf_Type">
        <xsd:annotation>
            <xsd:documentation>Логи</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="BasicRq_Type">
                <xsd:sequence>
                    <xsd:element name="Destination" type="Destination_Type">
                        <xsd:annotation>
                            <xsd:documentation>Получатель сообщения</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="LogInfo" type="LogInfo_Type">
                        <xsd:annotation>
                            <xsd:documentation>Данные для логгирования</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="GetTransferInfoRq_Type">
        <xsd:annotation>
            <xsd:documentation>Запрос информации</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="BasicRq_Type">
                <xsd:sequence>
                    <xsd:element name="Destination" type="Destination_Type">
                        <xsd:annotation>
                            <xsd:documentation>Получатель сообщения</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DataMessage" type="DataMessage_Type" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>Данные сообщения</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="GetTransferInfoRs_Type">
        <xsd:annotation>
            <xsd:documentation>Ответ с информацией</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="BasicRq_Type">
                <xsd:sequence>
                    <xsd:element name="Destination" type="Destination_Type">
                        <xsd:annotation>
                            <xsd:documentation>Получатель сообщения</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="FileStatus" type="FileStatus_Type" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>Статус файла</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:annotation>
        <xsd:documentation>Простые типы данных</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType name="DataMessage_Type">
        <xsd:annotation>
            <xsd:documentation>Данные сообщения</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="FileInfo" type="FileInfo_Type">
                <xsd:annotation>
                    <xsd:documentation>Файл</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Folder" type="Folder_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Директория</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ScenarioInfo" type="ScenarioInfo_Type">
                <xsd:annotation>
                    <xsd:documentation>Сценарий</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="DataMessageRqUID" type="UUID">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор сообщения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="File_Type">
        <xsd:annotation>
            <xsd:documentation>Файл</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="FileInfo" type="FileInfo_Type">
                <xsd:annotation>
                    <xsd:documentation>Файл</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Folder" type="Folder_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Директория</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ScenarioInfo" type="ScenarioInfo_Type">
                <xsd:annotation>
                    <xsd:documentation>Сценарий</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FileInfo_Type">
        <xsd:annotation>
            <xsd:documentation>Файл</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Name">
                <xsd:annotation>
                    <xsd:documentation>Уникальное имя файла в папке. Генерируется на стороне системы Отправителя файла.
                        Заполняется на стороне системы Отправителя сообщения
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="C">
                        <xsd:maxLength value="256"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="BusinessName" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Бизнес название файла. Заполняется на стороне системы Отправителя файла
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="C">
                        <xsd:maxLength value="256"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Size" type="Long" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Размер файла</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="CheckSum" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Контрольная сумма файла. Считается алгоритмом crc32 на стороне системы
                        Отправителя файла. Заполняется на стороне системы Отправителя сообщения
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="64"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FileStatus_Type">
        <xsd:annotation>
            <xsd:documentation>Статус передачи файла</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="FileInfo" type="FileInfo_Type">
                <xsd:annotation>
                    <xsd:documentation>Файл</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Status" type="Status_Type">
                <xsd:annotation>
                    <xsd:documentation>Статус файла</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Folder" type="Folder_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Директория файла</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ScenarioInfo" type="ScenarioInfo_Type">
                <xsd:annotation>
                    <xsd:documentation>Сценарий</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Destination_Type">
        <xsd:annotation>
            <xsd:documentation>Описание целевого поставщика услуг</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Name">
                <xsd:annotation>
                    <xsd:documentation>Название получателя сообщения для маршрутизации сообщения Шлюзом СР. Значения:
                        tfs_pr_lan, tfs_pr_d2, tfs_pr_d1. Если сообщение не передается в Шлюз СР, то значения
                        указываются в виде «[система_сегмент]». Заполняется на стороне системы Отправителя сообщения
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="C">
                        <xsd:maxLength value="256"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Version" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Версия сервиса управления передачей файлов. Заполняется на стороне системы
                        Отправителя сообщения. Текущая версия сервиса: "3.0"
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="64"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ScenarioInfo_Type">
        <xsd:annotation>
            <xsd:documentation>Cценарий</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ScenarioId" type="Identifier">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор сценария. На этапе разработки ТФС сообщает, какое значение
                        необходимо передавать в данном поле. Заполняется на стороне системы Отправителя сообщения
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Folder_Type">
        <xsd:annotation>
            <xsd:documentation>Директории файла</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="FolderSource" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Исходная директория нахождения файла с уникальным именем, откуда необходимо
                        забрать файл. Заполняется на стороне системы Отправителя файла
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="C">
                        <xsd:maxLength value="1000"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="FolderTarget" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Конечная директория файла, куда файл необходимо положить. Заполняется на стороне
                        системы Отправителя файла
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="C">
                        <xsd:maxLength value="1000"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LogInfo_Type">
        <xsd:annotation>
            <xsd:documentation>Данные для логирования</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="RqUID">
                <xsd:annotation>
                    <xsd:documentation>Уникальный идентификатор лога передачи</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="Identifier"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="FileName" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Наименование файла</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="C">
                        <xsd:maxLength value="256"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="FileSize" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Размер передаваемого файла (в килобайтах)</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="Long"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SourceFolder" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Исходная папка нахождения файла</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="C">
                        <xsd:maxLength value="256"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="TargetFolder" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Конечная папка передачи файла</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="C">
                        <xsd:maxLength value="256"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SourceServer" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Исходный сервер нахождения файла</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="C">
                        <xsd:maxLength value="256"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="TargetServer" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Конечный сервер передачи файла</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="C">
                        <xsd:maxLength value="256"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="TfsID" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Уникальный идентификатор ТФС</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="Identifier"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="RouteID" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Уникальное наименование маршрута</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="C">
                        <xsd:maxLength value="100"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Operation" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Операция</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="C">
                        <xsd:maxLength value="256"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="OperationName" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Наименование операции</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="C">
                        <xsd:maxLength value="256"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Status" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Статус выполнения операции</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:long"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="PartDate" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Дата и время выполнения операции</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:dateTime"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Event_Msg" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Сообщение</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="C"/>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:annotation>
        <xsd:documentation>Стандартные комплексные типы МДО</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType name="BasicRq_Type">
        <xsd:annotation>
            <xsd:documentation>Тип сообщения - запрос</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="RqUID" type="RqUID_Type">
                <xsd:annotation>
                    <xsd:documentation>Уникальный идентификатор сообщения. Генерируется на стороне Инициатора процесса.
                        Заполняется на стороне системы Отправителя сообщения
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RqTm" type="Timestamp">
                <xsd:annotation>
                    <xsd:documentation>Дата и время передачи сообщения. Генерируется и заполняется на стороне системы
                        Отправителя сообщения
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="OperUID" type="OperUID_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Уникальный идентификатор операции</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SPName" type="SPName_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор системы Отправителя. Значение указывается в формате:
                        «urn:sbrfsystems:99-[система_сегмент]». Заполняется на стороне системы Отправителя сообщения
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SystemId" type="SPName_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор системы Получателя. Значение указывается в формате:
                        «urn:sbrfsystems:99-[система_сегмент]». Заполняется на стороне системы Отправителя сообщения
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Status_Type">
        <xsd:annotation>
            <xsd:documentation>Статус</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="StatusCode" type="StatusCode_Type">
                <xsd:annotation>
                    <xsd:documentation>Статусный код возврата. Возможные значения: 0 - Успех; 100 – Общая ошибка ТФС;
                        101 – Недоступен ресурс Смежной системы; 102 – Файл искажен; 103 – Файл заражен; 104 – Ошибка
                        Смежной системы. Заполняется на стороне системы Отправителя сообщения
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ServerStatusCode" type="ServerStatusCode_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Статусный код сервера. Это значение выдается пользователю на экран и позволяет
                        провайдеру лучше диагностировать ошибку
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Severity" type="Severity_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Серьезность ошибки. Значения: Error, Warn, Info</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="StatusDesc" type="StatusDesc_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Описание статуса</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="AdditionalStatus" type="AdditionalStatus_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Дополнительные статусы. Этот агрегат может содержать дополнительные статусы,
                        которые может сообщить сервер. Например, и номер счета, и дата неправильны, то StatusCode может
                        содержать одну из этих ошибок, а этот агрегат – другую
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="AsyncRsInfo" type="AsyncRsInfo_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Информация об асинхронном ответе</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AsyncRsInfo_Type">
        <xsd:annotation>
            <xsd:documentation>Информация об асинхронном ответе</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="AvailDt" type="AvailDt_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Дата/время готовности ответа. Расчетное время, когда будет готов ответ
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ExpDt" type="ExpDt_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Дата/время хранения ответа. То время, когда ответ будет удален с сервера
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AdditionalStatus_Type">
        <xsd:annotation>
            <xsd:documentation>Дополнительные статусы</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="StatusCode" type="StatusCode_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Статусный код возврата</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ServerStatusCode" type="ServerStatusCode_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Статусный код сервера</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Severity" type="Severity_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Серьезность ошибки. Значения: Error, Warn, Info</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="StatusDesc" type="StatusDesc_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Описание статуса</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:annotation>
        <xsd:documentation>Простые типы данных МДО</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType name="C">
        <xsd:annotation>
            <xsd:documentation>Строковый тип с поддержкой русского языка в кодировке UTF-8</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="Timestamp">
        <xsd:annotation>
            <xsd:documentation>Отметка времени</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:dateTime"/>
    </xsd:simpleType>
    <xsd:simpleType name="Long">
        <xsd:annotation>
            <xsd:documentation>Длинное число</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:long"/>
    </xsd:simpleType>
    <xsd:simpleType name="NC">
        <xsd:annotation>
            <xsd:documentation>Строковый тип в кодировке ISO Latin-1</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="RqUID_Type">
        <xsd:annotation>
            <xsd:documentation>Идентификатор запроса</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="UUID"/>
    </xsd:simpleType>
    <xsd:simpleType name="UUID">
        <xsd:annotation>
            <xsd:documentation>Уникальный 16 байтовый идентификатор. Для обмена в рамках интеграционных проектов
                Сбербанка представляется набором из 32 символов без разделителей в шестнадцатиричной системе.
                Размерность 36 оставлена для совместимости со стандартом IFX/
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="NC">
            <xsd:maxLength value="36"/>
            <xsd:pattern value="([0-9]|[a-f]|[A-F]){32}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="OperUID_Type">
        <xsd:annotation>
            <xsd:documentation>Уникальный идентификатор операции</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="255"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="SPName_Type">
        <xsd:annotation>
            <xsd:documentation>Service Provider Name</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Identifier"/>
    </xsd:simpleType>
    <xsd:simpleType name="Identifier">
        <xsd:annotation>
            <xsd:documentation>Идентификатор</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="NC">
            <xsd:maxLength value="36"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="StatusDesc_Type">
        <xsd:annotation>
            <xsd:documentation>Описание статуса</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="1000"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ServerStatusCode_Type">
        <xsd:annotation>
            <xsd:documentation>Статусный код сервера. Это значение выдается пользователю на экран и позволяет провайдеру
                лучше диагностировать ошибку
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="20"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="StatusCode_Type">
        <xsd:annotation>
            <xsd:documentation>Статусный код возврата
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Long"/>
    </xsd:simpleType>
    <xsd:simpleType name="Severity_Type">
        <xsd:annotation>
            <xsd:documentation>Серьезность ошибки.
                Значения: Error, Warn, Info
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="ClosedEnum">
            <xsd:enumeration value="Error"/>
            <xsd:enumeration value="Warn"/>
            <xsd:enumeration value="Info"/>
            <xsd:enumeration value=""/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ClosedEnum">
        <xsd:annotation>
            <xsd:documentation>Закрытое перечисление. Перечисление содержит конечный набор допустимых значений. Другие
                значения не допустимы. Обнаружении значения, не входящего в набор допустимых значений, трактуется как
                ошибка в любом узле системы на любом этапе обработки сообщения.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="NC">
            <xsd:maxLength value="80"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="AvailDt_Type">
        <xsd:annotation>
            <xsd:documentation>Дата/время готовности ответа. Расчетное время, когда будет готов ответ
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Timestamp"/>
    </xsd:simpleType>
    <xsd:simpleType name="ExpDt_Type">
        <xsd:annotation>
            <xsd:documentation>Дата/время хранения ответа. То время, когда ответ будет удален с сервера
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Timestamp"/>
    </xsd:simpleType>

</xsd:schema>